<?xml version='1.0' encoding='GBK' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %5p [%c:%L] - %m%n" />
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">     
		<param name="File" value="/export/test/craft.atom.test/bin/craft.log" />     
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />     
		<layout class="org.apache.log4j.PatternLayout">     
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %5p [%c:%L] - %m%n" />     
		</layout>     
	</appender>

	
	<category name="org.craft.atom" additivity="false">
		<priority value="warn" />
		<appender-ref ref="file" />
	</category>

	<root>
		<priority value="warn" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>
